<div style="border-bottom:1px solid #ccc;margin-left:0px;margin-right:0px;padding:10px 0px;" class="row">
  <div class="col-md-2 col-lg-2" >
    <div>August 2nd - 4th</div>
    <div>All day</div>
  </div>
  <div class="col-md-10 col-lg-10" >
    <label>Nick's awesome garage sale</label>
    <p style="margin-top:10px;">I'm selling pretty much all of my stuff cause I've got nothing better to do it sounds like an amazing   thing, so who knows maybe I will make some money</p>
    <small>Holly Springs, NC</small>
  </div>
</div>
