<title>Wazibo: Shop and sell</title>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='/css/styles.css' rel="stylesheet">
<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>