<nav class="navbar navbar-default" style="border-bottom:1px solid #ccc;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="font-weight:600;">Wazibo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <form action="/item/all" class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>                
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li style="border-right:1px solid #ccc;margin-right:5px; ">
                    <a href="/sell">
                        Sell
                    </a>
                </li>
                <li>
                    {{#if user}}
                    <ul class="list-inline list-unstyled">
                        <li>
                            <div>                                
                                <img src="{{user.photo}}" class="avatar wz-media-round">
                                <span>Hello, <label>                            
                                {{user.givenName}}                                                      
                            </label></span>
                            </div>
                        </li>
                        <li>
                            <a href="/oauth/logout">Log out</a>
                        </li>
                    </ul>
                    {{else}}
                    <a href="/login">Log in</a> {{/if}}
                </li>

            </ul>
        </div>
    </div>
</nav>
<nav class="navbar yamm navbar-default" style="border-bottom: 1px solid #ccc;background: #fff;margin-top:-20px;">
    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav">

                <li>
                    <a>My Area</a>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothing <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Section Title</strong></p>
                                        </li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                    </ul>
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Links Title</strong></p>
                                        </li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                    </ul>
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Section Title</strong></p>
                                        </li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                    </ul>
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Section Title</strong></p>
                                        </li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>
                                            <ul>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Electronics</a>
                </li>
            </ul>
        </div>
    </div>
</nav>