<div class="col-sm-12 row-space-2 col-md-6">
            <div data-lat="42.381749502854085" data-lng="-71.08869304877712" data-name="Comfortable, well located double" data-url="/rooms/8000857?s=5j30Scgq" data-user="814202" data-id="8000857" data-instant-book="false" data-price="<sup>$</sup>48<sup></sup>" data-has-superhost-badge="false" data-has-new-listing-badge="false" data-star-rating="5.0" data-review-count="36" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">
            
              <div class="panel-image listing-img">
                  <div class="listing-description wl-data-8000857">
                    <div class="summary">
                      <p>
                        Double room in a shared apartment on a first floor in a safe neighborhood that is well located to downtown and to the universities. The room has full sized bed and  kitchen, bathroom and living room are shared.
                      </p>
                        <div class="tooltip tooltip-top-middle" role="tooltip" data-trigger="#tooltip-sticky-8000857" aria-hidden="true">
                          <p class="panel-body">
                            

The apartment is in a typical American neighborhood that used to be purely workring class but now is diverse. Our neighbors are from different nationalities and different walks of life. There are artists, students, immigrants, proffesionals all co-existing happily in the neighborhood.

The house is warm and comfortable and very peaceful as the neighborhood is also a quiet one. The shared space is perfect for cooking and hanging out and you can either have privacy in your room or hang out wi...
                          </p>
                        </div>
                    </div>
                    <p class="address">Somerville</p>
                  </div>
                <a href="/rooms/8000857?s=5j30Scgq" target="listing_8000857" class="media-photo media-cover">
                  <div class="listing-img-container media-cover text-center">
                      <img itemprop="image" data-current="0" src="https://a0.muscache.com/im/pictures/107132888/0eb6cf3d_original.jpg?aki_policy=x_medium" class="img-responsive-height" alt="Comfortable, well located double" data-urls="[&quot;https://a0.muscache.com/im/pictures/107132888/0eb6cf3d_original.jpg?aki_policy=x_medium&quot;, &quot;https://a2.muscache.com/im/pictures/107132897/bdd121a6_original.jpg?aki_policy=x_medium&quot;, &quot;https://a0.muscache.com/im/pictures/107132813/20e8f165_original.jpg?aki_policy=x_medium&quot;, &quot;https://a1.muscache.com/im/pictures/107132827/9ef37de2_original.jpg?aki_policy=x_medium&quot;, &quot;https://a0.muscache.com/im/pictures/107132852/0bf3590f_original.jpg?aki_policy=x_medium&quot;]" data-picture-count="15" data-should-async-load="true">
                  </div>
                </a>
            
                  <div class="target-prev target-control block-link">
                    <i class="icon icon-chevron-left icon-size-2 icon-white"></i>
                  </div>
            
                <a href="/rooms/8000857?s=5j30Scgq" target="listing_8000857" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                  <div class="tooltip tooltip-fixed tooltip-bottom-left total-price-breakdown text-dark-gray" role="tooltip">
                    <div class="loading"></div>
                  </div>
                  <div>
                    <sup class="h6 text-contrast">$</sup>
                    <span class="h3 text-contrast price-amount">48</span>
                    <sup class="h6 text-contrast"></sup>
                  </div>
            
                </a>
            
            
                  <div class="target-next target-control block-link">
                    <i class="icon icon-chevron-right icon-size-2 icon-white"></i>
                  </div>
            
                <div class="panel-overlay-top-right wl-social-connection-panel">
                  <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/im/pictures/107132888/0eb6cf3d_original.jpg?aki_policy=large" data-name="Comfortable, well located double" data-address="Somerville" data-hosting_id="8000857" data-price="$48" data-review_count="36 reviews" data-host_img="https://a2.muscache.com/ac/users/814202/profile_pic/1420203992/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" data-star_rating="5.0" data-summary="Double room in a shared apartment on a first floor in a safe neighborhood that is well located to downtown and to the universities. The room has full sized bed and  kitchen, bathroom and living room are shared." data-description="

The apartment is in a typical American neighborhood that used to be purely workring class but now is diverse. Our neighbors are from different nationalities and different walks of life. There are artists, students, immigrants, proffesionals all co-existing happily in the neighborhood.

The house is warm and comfortable and very peaceful as the neighborhood is also a quiet one. The shared space is perfect for cooking and hanging out and you can either have privacy in your room or hang out wi...">
                    <input type="checkbox" id="wishlist-widget-8000857" name="wishlist-widget-8000857" data-for-hosting="8000857">
                    <label for="wishlist-widget-8000857" class="hide-sm">
                      <span class="screen-reader-only">Wishlist</span>
                      <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
                      <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
                      <i class="icon icon-heart-alt icon-white icon-size-2" id="wishlist-widget-icon-8000857"></i>
                    </label>
                    
                  </span>
            
            
                </div>
            
              </div>
            
              <div class="panel-body panel-card-section">
                <div class="media">
                    <a href="/users/show/814202" class="media-photo-badge pull-right card-profile-picture card-profile-picture-offset">
                      <div class="wz-media-photo wz-media-round">
                        <img src="https://a2.muscache.com/ac/users/814202/profile_pic/1420203992/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="Soledad And Rodrigo from Somerville">
                      </div>
                    </a>
                  <h3 title="Comfortable, well located double" itemprop="name" class="h5 listing-name text-truncate row-space-top-1">
                    <a href="/rooms/8000857?s=5j30Scgq" target="listing_8000857" class="text-normal">
                      Comfortable, well located double
                    </a>
                  </h3>
                  <div itemprop="description" class="text-muted listing-location text-truncate">
                    <span>
      <a href="/rooms/8000857?s=5j30Scgq" target="listing_8000857" class="text-normal link-reset">
        Private room
         · <small>      <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>
</small>
         · 36 reviews
      </a>
    </span>
                  </div>
                </div>
            
              </div>
            </div>
          </div>