<h3>Local Events</h3>
{{#each items}}
    <div class="col-md-12 col-lg-12">
      <h3>{{this.name}}</h3>
      <p>{{this.description}}</p>
      <hr>
    </div>
    
{{else}}
  <h4>Aww, it looks like there aren't any events. Be a trend setter and create one!</h4>
{{/each}}
