<div class="col-sm-6 col-md-4">
  <div class="thumbnail" style="background:#fff;">
    <img src="http://lorempixel.com/400/200" alt="category">
    <div class="caption">
      <h3>Pet Supply</h3>
      <p>I've got some supplies to sell</p>
    </div>
  </div>
</div>