<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <header>
      {{>header}}
    </header>    
    <main style="min-height:70%">
    {{{body}}}
    </main>    
    <footer>
        {{>footer}}
    </footer>
  </body>
</html>
