<div>
    <div class="container">
        <ul class="list-inline list-unstyled list-wizard-steps">
            <li><span class="step">1</span>Where are you selling?</li>
            <li class="active"><span class="step">2</span>What are you selling?</li>
        </ul>
    </div>
</div>

<div class="container">
    <h1>Lets get to selling!</h1>

    <form action="/sell/item?eventId={{eventId}}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name of your event">
            <p class="help-block">Give a snazzy name to let people know</p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description of your event">
            <p class="help-block">Tell us more about it</p>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-default btn-large">List</button>
        </div>
    </form>
    <form action="{{bucket}}" method="POST">
        <div class="form-group">            
            <input type="file" id="itemImage" name="image" class="inputfile">
            <label for="itemImage">Add Photo</label>


        </div>
            <img id="itemImagePreview" src="#" alt="your image" style="display:none; width:64px;height:auto;"/>
        
    </form>
</div>