<div>
    <div class="container">
        <ul class="list-inline list-unstyled list-wizard-steps">
            <li><span class="step">1</span>Where are you selling?</li>
            <li class="active"><span class="step">2</span>What are you selling?</li>
        </ul>
    </div>
</div>

<div class="container">
    <h1>Lets get to selling!</h1>

    <form action="/sell/item?eventId={{eventId}}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name of your event">
            <p class="help-block">Give a snazzy name to let people know</p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description of your event">
            <p class="help-block">Tell us more about it</p>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-default btn-large">List</button>
        </div>
    </form>
    <form action="{{bucket}}" method="POST">
        <div class="form-group">            
            <input type="file" id="itemImage" name="image" class="inputfile">
            <label for="itemImage">Add Photo</label>


        </div>
            <img id="itemImagePreview" src="#" alt="your image" style="display:none; width:64px;height:auto;"/>
        <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                
                        reader.onload = function (e) {
                            $('#itemImagePreview').attr('src', e.target.result);
                            $('#itemImagePreview').css('display','block');
                        }
                
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                
                $("#itemImage").change(function(){
                    readURL(this);
                });
                
                var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		if( fileName )
			label.querySelector( 'span' ).innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});
        </script>
    </form>
</div>