<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
<p>Wazibo is an online community focused on safely shopping and selling. You can choose to sell through an event such as a garage sale, consginment, or if you prefer person to person. 
    Wazibo handles giving you all the tools you need to not only get your content out there but to help others find it.</p>
        </div>
    </div>
</div> 
     