
{{#if user}}
{{else}}
<div class="jumbotron" style="margin-top:-20px">
    <div class="container">
        <div class="col-md-6">
        <h2>Shop garage sales, consignment, and directly from people in your community</h2>
        <p>Wazibo helps you find items easier, sell, and easily manage items.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{{/if}}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Shop popular categories <small><a href="">See All</a></small></h4>            
        </div>
    </div>
    <div class="row">        
        {{#each items}} {{> item}} {{/each}}
    </div>
</div>


