<div class="container">
    <section>
    <h2>Print a tag for your item</h2>
    <p>Tags allow customers to scan your item quickly with any mobile device and quickly find 
      more information about your item through your online posting</p>
    </section>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <img src="{{tagUrl}}" alt="Tag Barcode">
    </div>
</div>