@import "../lib/bootstrap/less/bootstrap.less";


//@navbar-default-bg:  rgba(255,255,255,.9);
@navbar-default-color:             #000;
@navbar-default-bg:                transparent;
@navbar-default-border:             transparent;
@navbar-height: 64px;
@navbar-border-radius: 0px;

@color-light-gray: #f8f8f8;

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wz-header {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.avatar {
    width: 32px;
    height: 32px;
    margin: 16px 0px;
    background-size:contain;
}

.navbar-default {
    z-index: 2;
    .navbar-brand,
    .navbar-brand:visited,
    .navbar-brand:focus {
        color: @navbar-default-color;
    }

    .navbar-nav > li > a {
        color: @navbar-default-color;
        font-weight: 500;
    }
}

.video-playing {
    height: 600px;
    width: 100%;
    object-fit: initial;
    position:absolute;
    top: 0px;
    z-index: -10;
}

.wz-flat-btn {
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.wz-flat-btn-default {
    background-color: #E91E63;
}

.wz-pretty-pink {
    transition: background-color 250ms;

    &:hover {
        background-color: #E91E63;
    }
}

.wz-media-photo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}

.wz-media-round {    
    border-radius: 50%;
    border: 2px solid #fff;
}