@import "../lib/bootstrap/less/bootstrap.less";
@import "./variables.less";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wz-header {
    position: relative;
    padding: 30px 0;
    color: lighten(@color-blue-gradient1, 80%);
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    
    background-image: linear-gradient(to bottom,@color-blue-gradient1 0,@color-blue-gradient2 100%);

    background-repeat: repeat-x;
}

.avatar {
    width: 32px;
    height: 32px;
    margin: 16px 0px;
    background-size:contain;
}

.navbar-default {
    z-index: 2;
    .navbar-brand,
    .navbar-brand:visited,
    .navbar-brand:focus {
        color: @navbar-default-color;
    }

    .navbar-nav > li > a {
        color: @navbar-default-color;
        font-weight: 500;
    }
}

.wz-flat-btn {
    padding: 10px;
    border-radius: 4px;
    color: white; 
}

.wz-flat-btn-default {
    background-color: #E91E63;
}

.wz-pretty-pink {
    transition: background-color 250ms;

    &:hover {
        background-color: #E91E63;
    }
}

.wz-media-photo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}

.wz-media-round {    
    border-radius: 50%;
    border: 2px solid #fff;
}
.btn-facebook {
    border-color: #3B5998;
    border-bottom-color: #263a63;
    background-color: #3B5998;
    color: #fff;
}

.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.icon-btn.btn-large {
    position: relative;
    padding-left: 51px;
}

.step {
        border-radius: 50%;
        border: 2px solid #ccc;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 3px 10px;
        margin-right: 10px;
    }
    .list-wizard-steps .active {
        color: blue;
        
    }
    .active > .step {
        border-color: blue !important;
    } 